.main-banner{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.main-banner__item{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.main-banner__item .default-wrapper{
    height: 100%;
}
.main-banner .slick-dots{
    position: absolute;
    bottom: 20px;
}
.main-banner .slick-dots li{
    list-style: none;
    width: unset;
    height: unset;
}
.main-banner .slick-dots li button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}
.main-banner .slick-dots li button:before{
    display: none;
}
.main-banner .slick-dots .slick-active button{
    background: #BF1A1F;
}

.main-banner__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-banner__text-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-banner__title{
    color: #FFF;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}
.main-banner__subtitle{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 183.333% */
    margin-bottom: 50px;
}


.home-main-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 90px 0 180px 0;
    gap: 100px;
}


.best-from-bank{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.best-from-bank__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}
.best-from-bank__items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.best-from-bank__item{
    width: 100%;
}
.best-from-bank__item-container{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 220px;
    overflow: hidden;
    position: relative;
}
.best-from-bank__item-img{
    background-size: cover;
    background-position: top;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    transition: 0.5s;
}
.best-from-bank__item:hover .best-from-bank__item-img{
    transform: scale(1.2);
}
.best-from-bank__items .best-from-bank__item:nth-child(1){
    grid-row-start: 1;
    grid-row-end: 3;
}
.best-from-bank__items .best-from-bank__item:nth-child(4){
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}
.best-from-bank__item-title{
    position: inherit;
    max-width: 70%;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.22px;
    margin-bottom: 20px;
    z-index: 99;
}
.best-from-bank__item-subtitle{
    position: inherit;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.023%; /* 20.583px */
    z-index: 99;
}

.best-from-bank__item-table{
    position: inherit;
    z-index: 99;
    margin-top: 30px;
}
.best-from-bank__item-table td{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.023%; /* 20.583px */
    padding: 10px 0;
}
.best-from-bank__item-table th{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 147.023%; /* 20.583px */
    padding: 10px 0;
}
.best-from-bank__item-table p{
    padding: 0 25px;
}
.best-from-bank__item-table tr td:first-child p{
    padding-left: 0;
}
.best-from-bank__item-table tr td:last-child p{
    border-left: 1px solid white;
}
.best-from-bank__item-note{
    position: inherit;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.023%; /* 17.643px */
    margin-top: 20px;
    z-index: 99;
}

.home-currency-calculate-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-currency-calculate-box-note{
    width: 100%;
    text-align: start;
    color: #B4B4B4;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 147.023%;
    margin-top: 20px;
}
.home-currency-calculate-box__container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.home-currency-box{
    max-width: 816px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.home-currency-box .block-title, .home-calculate-box .block-title{
    margin-bottom: 30px;
}



.home-calculate-box{
    max-width: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
}
.home-calculate-box__title{
    color: #282828;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.22px;
    margin-bottom: 30px;
}
.home-calculate-box__note{
    color: #6E6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 147.023%; /* 20.583px */
    margin-top: 15px;
    margin-bottom: 27px;
}

/* adaptive */

@media screen and (max-width: 1000px) {
    .home-currency-calculate-box__container{
        flex-direction: column;
    }
}

@media screen and (max-width: 730px) {
    .home-currency-calculate-box-note{
        font-size: 12px;
    }
    /* banner */

    .main-banner__title{
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .main-banner__subtitle{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 40px;
    }
    .main-banner__item{
        height: 299px;
    }
    .home-main-section{
        padding: 20px 0 70px 0;
        gap: 70px;
    }

    /* best-from-bank */

    .best-from-bank .default-wrapper{
        padding: 0;
    }
    .best-from-bank .block-title{
        padding: 0 20px;
    }
    .best-from-bank .slick-list{
        padding: 0 15px !important;
    }
    .best-from-bank__container{
        gap: 40px;
    }
    .best-from-bank__items{
        display: flex;
        gap: 10px;
        overflow: hidden;
    }
    .best-from-bank__item{
        height: 360px;
        margin: 0 5px;
    }
    .best-from-bank__item-table{
        margin-top: 15px;
    }

    /* calculate */

    .calculate-box__currency-button{
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
    }
}